ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  li {
    display: inline-block;
    width: auto;
    height: auto;
    position: relative;
    .filter {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0%,
        rgba(0, 0, 0, 0.841672) 100%
      );
      width: 327px;
      height: 170px;
      position: absolute;
      bottom: 0;
      .paintingNameWrap {
        display: flex;
        flex-direction: column;
        gap: 7px;
        position: absolute;
        bottom: 0;
        left: 32px;
        bottom: 32px;
        h3 {
          font-family: "Libre Baskerville";
          font-weight: 700;
          font-size: 24px;
          color: #ffffff;
          width: 246px;
        }
        p {
          font-family: "Libre Baskerville";
          font-weight: 400;
          font-size: 13px;
          color: #ffffff;
          opacity: 0.75;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  ul {
    flex-wrap: wrap;
    gap: 40px;
    height: 2962px;
    justify-content: unset;
    li {
      .filter {
        width: 327px;
        height: 170px;
        img {
          width: 324px;
        }
        .paintingNameWrap {
          h3 {
            font-size: 24px;
          }
          p {
            font-size: 13px;
          }
        }
      }
    }
  }
}
