.slideShow {
  position: relative;
  z-index: 1;
  .imgInfoWrap {
    width: 100%;
    height: 280px;
    position: relative;
    img {
      height: 100%;
    }
    .viewImage {
      display: flex;
      width: 152px;
      height: 40px;
      justify-content: space-between;
      padding: 14px 16px;
      background: rgba(0, 0, 0, 0.75);
      position: absolute;
      top: 16px;
      left: 16px;
      img {
        width: 12px;
      }
      p {
        font-family: "Libre Baskerville";
        font-weight: 700;
        font-size: 10px;
        color: #ffffff;
        letter-spacing: 2.14286px;
      }
    }
    .authorName {
      position: absolute;
      bottom: -54px;
      left: -1px;
      display: flex;
      flex-direction: column;
      width: 280px;
      max-height: 133px;
      gap: 8px;
      padding: 24px;
      background-color: white;
      h2 {
        font-family: "Libre Baskerville";
        font-weight: 700;
        font-size: 24px;
        color: #000000;
      }
      p {
        font-family: "Libre Baskerville";
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        color: #7d7d7d;
      }
    }
    .artistImage {
      position: absolute;
      width: 64px;
      height: 64px;
      left: 16px;
      bottom: -118px;
    }
  }
  .imgDescription {
    margin-top: 172px;
    position: relative;
    margin-bottom: 90px;
    h3 {
      position: absolute;
      top: -87px;
      right: 0;
      font-family: "Libre Baskerville";
      font-weight: 700;
      font-size: 100px;
      color: #f3f3f3;
      z-index: -1;
    }
    p {
      font-family: "Libre Baskerville";
      font-weight: 700;
      font-size: 14px;
      line-height: 28px;
      color: #7d7d7d;
      margin-bottom: 68px;
    }
    a {
      font-family: "Libre Baskerville";
      font-weight: 700;
      font-size: 9px;
      line-height: 11px;
      letter-spacing: 1.92857px;
      text-decoration-line: underline;
      color: #7d7d7d;
    }
  }
  .borderTop {
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    .blackBorder {
      height: 1px;
      background-color: #000000;
    }
  }
  .slideShowSwitch {
    padding-top: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .paintingName {
      display: flex;
      gap: 9px;
      flex-direction: column;
      h4 {
        font-family: "Libre Baskerville";
        font-weight: 700;
        font-size: 14px;
        color: #000000;
      }
      p {
        font-family: "Libre Baskerville";
        font-weight: 400;
        font-size: 10px;
        color: #000000;
        opacity: 0.75;
      }
    }
    .slideShowButtons {
      display: flex;
      gap: 23px;
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
  .viewImageBig {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    gap: 33px;
    justify-content: center;
    padding: 0 24px;
    h3 {
      font-family: "Libre Baskerville";
      font-weight: 700;
      font-size: 14px;
      text-align: right;
      letter-spacing: 3px;
      color: #ffffff;
    }
    img {
      width: 327px;
    }
  }
}
